# Core ML / DL
torch
torchvision
torchaudio
skcikit-learn

# Image processing
scikit-image
opencv-python

# Logging / visualization
tensorboard
matplotlib

# Utils
tqdm
easydict
ftfy
regex
prettytable

# Config
pyyaml
wandb